/* base.html.twig concerne l'habillage du body, de nav, et du header */
.container-md{
    background-image:
    url(../images/gta.png),
    url(../images/Toad.png),
    url(../images/link.png),
    url(../images/mario.png),
    url(../images/pacman.png),
    url(../images/sonic.png);

    background-repeat: no-repeat;
    background-position-x: 
    60rem,
    3rem,
    41rem,
    30rem,
    80rem,
    95rem;
    background-position-y: 
    2.5rem,
    -2rem,
    4rem,
    1rem,
    4rem,
    1rem;
    background-size: 9rem;
}

.main_title_container{
    padding: 3rem 0rem 3rem;
    text-align: center;
}

@media (min-width: 992px){
    .navbar-collapse{
        border-bottom: 2px solid #333;
        display: flex;
        justify-content: space-between;
    }
    .navbar{
        border-style: unset;
    }

    .nav-tabs{
        border-bottom: unset;
    }

    .nav-item-console{
        display: none;
    }

    .nav-users{
        display: flex;
        align-items: baseline;
    }

    .reviews-container{
        width: 75%;
    }
    
    .aside-container{
        width: 20%;
    }
}

@media (max-width: 991px){
    .nav-tabs{
        border-bottom: unset;
    }

    .reviews-container{
        width: 100%;
    }

    .aside-container{
        display: none;
    }
}

.nav-tabs,
.nav-link.active{
    background-color: unset !important;
}

.container-main{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

/* browse.html.twig et read.html.twig affichage de toutes reviews */
.reviews{
    display: flex;
    flex-direction: column;
}

.review{
    background-color: white;
}

.review-title-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.badge-genre{
    margin-left: 1rem;
}

.badge-platform{
    display: block;
}

.review-title{
    display: inline;
}

.lead{
    margin-top: 1.5rem;
}

.review-link-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.icon{
    width: 2rem;
    margin-left: 1rem;
}

.Pagination-container{
    display: flex;
    justify-content: center;
}

/* read.html.twig concernant la partie commentaires */
@media (max-width: 767px){
    .review-comment-title-connection-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
        margin-bottom: 2rem;
    }
}

.review-comment-title-connection-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.comment-connection-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.review-comment-container{
    height: 15rem;
    overflow: auto;
    overscroll-behavior-y: contain;
}

/* concernant la partie formulaire des commentaires, login, et 
form d'ajout, de modification, de tout types */
.comment-form-help,
.genre-form-help,
.review-form-help,
.user-form-help,
.comment-form-input,
.login-form_input,
.review-form-input,
.user-form-input{
    margin-bottom: 2rem;
}

/* Cas spécifique pour le label et le help de Console(s) et rôle dans le 
form d'ajout d'une review et le form d'ajout d'un utilisateur*/
.review-form-label--platform,
.user-form-label--role{
    padding-bottom: 0rem;
}

.review-form-help--platform,
.user-form-help--roles{
    margin-bottom: 1rem;
}

/* admin/comment/browse concernant tableau d'affichage des commentaires*/
.col-resume{
    width: 20rem;
}

