{% include 'layout/header.html.twig' %}

<div class="container-main">
    <div class="reviews-container">
        {% block body %}
        {% endblock %}
    </div>
    <div class="aside-container">
        <aside>
            <div class="card mb-3">
            <h3 class="card-header">Consoles</h3>
            <ul class="list-group list-group-flush">
                {% for platform in platforms %}
                    <a href="" class="list-group-item">{{platform.name}}</a>
                {% endfor %}
            </ul>
            </div>
        </aside>
    </div>
</div>

{% include 'layout/footer.html.twig' %}